.main {
  padding-top: 10px;
}

.questions {
  margin: 0 auto;
  max-width: 580px;
}

@media screen and (max-width: 599px) {
  .questions  {
    max-width: 320px;
  }
}

.questions__form {
  display: flex;
  flex-direction: column;
}

.questions__button {
  margin: 10px auto 0;
  font-size: 22px;
  width: 150px;
  height: 40px;
  color: #ffffff;
  background-color: #696969;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 599px) {
  .questions__button  {
    font-size: 15px;
    width: 120px;
    height: 30px;
  }
}
